<a href="https://colab.research.google.com/github/Wata-Naoki/atcoder/blob/main/ABC169b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n=int(input())
a_list=[int(x) for x in input().split()]
a_list.reverse()

flag=True
ans=1
if a_list.count(0)>0:
  print(0)
else:
  for val in a_list:
    ans *= val
    if ans > 10**18:
      flag=False
      break
  print(ans if flag else -1)

31
4 1 5 9 2 6 5 3 5 8 9 7 9 3 2 3 8 4 6 2 6 4 3 3 8 3 2 7 9 5 0
0

In [12]:
input_num=int(input())
input_list=[int(num) for num in input().split()]
ans_val=1
flag=True
for val in input_list:
  ans_val *= val
  
if ans_val > 1000000000000000000:
  flag=False

print(ans_val if flag else -1 )

3
101 9901 999999000001
-1

In [16]:
import numpy as np
input_num=int(input())
input_list=[int(num) for num in input().split()]
flag=True
ans_val=np.prod(input_list)
if ans_val > 1000000000000000000:
  flag=False
print(ans_val if flag else -1)

31
4 1 5 9 2 6 5 3 5 8 9 7 9 3 2 3 8 4 6 2 6 4 3 3 8 3 2 7 9 5 0
0

In [ ]:
N = int(input())
A = list(map(int,input().split()))
A.sort()
A.reverse()
if A.count(0) > 0:
  print(0)
else:
  f = 0
  ans = 1
  for i in range(N):
    ans *= A[i]
    if ans > 10**18:
      f += 1
      print(-1)
      break
  if f == 0:
    print(ans)