<a href="https://colab.research.google.com/github/Wata-Naoki/atcoder/blob/main/ABC171c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
n = int(input())
chars = "Xabcdefghijklmnopqrstuvwxyz"  # x番目がほしいときにchars[x-1]としたくないので、chars[0]は使わないことにします

n_rem = n  # 入力を直接操作すると、もし後々必要になったときに面倒なので
res = ""

while True:
    x = n_rem % 26
    print(x, '余り')
    # 余りが0、つまりzの場合は、26にします
    if x == 0:
        x = 26
    res += chars[x]
    print(res , '文字列')

    # xを引いて、26で割ります
    n_rem -= x

    # 0なら終了します
    if n_rem == 0:
        break

    n_rem //= 26
    print(n_rem, '割った値')

print(res)
# 0桁目が先頭で、最後の桁が末尾になっているので、反転させます
print(res[::-1])

123456789
1 余り
a 文字列
4748338 割った値
10 余り
aj 文字列
182628 割った値
4 余り
ajd 文字列
7024 割った値
4 余り
ajdd 文字列
270 割った値
10 余り
ajddj 文字列
10 割った値
10 余り
ajddjj 文字列
ajddjj
jjddja

In [4]:
lower_case = [chr(i) for i in range(ord('a'),ord('z')+1)]
print(lower_case)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:


count=0
val=0
num=26
i=0
while n <0:
  if n <= 26:
    print(lower_case[n+1])
    break
  else:
    count=n//26
    val=n%26

In [5]:
n=123456789
count=0
val=0

while n <0:
  n=n/26
  count+=1
  
val=count%26   

print(count, val)

4748338 1

In [11]:
n=123456789
count=0
val=0

while n >0:
  n=n//26
  count+=1

val=n%26  
print(count, val)

6 0